@{
    ViewBag.Title = "Contacto:";
}
<main aria-labelledby="title">
    <h2 class="text-primary">@ViewBag.Title</h2>
 
  

    <address>
        <strong>Correo:</strong><a class="cus-ml-2" href="maxhugobueno@gmail.com">maxhugobueno@gmail.com</a><br />
    </address>

</main>